
/* <LINK HREF="css/todo css.CSS" REL="STYLESHEET" TYPE="text/css"/> */

		/* CABECERA*/
.cabecera {
	
	background:#ffca33;
	display:block;
	
	width:100%;
	height:100px;
	position:fixed;
	z-index:20;	

padding:0px;		
}
		/* FIN*/